API_KEY=asdasd-vx4YnUsdQ4Aakz-KtLjn7x6rK1c
AUTH_DOMAIN=trello-clone-asdasd.firebaseapp.com
PROJECT_ID=trello-clone-asdasd
STORAGE_BUCKET=trello-clone-3dasdasdfd2.appspot.com
MESSAGING=841232137268366911
APP_ID=1:8472683asd66911:web:103467asdasda11e6e725039468a