@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
.p-8 {
  padding: 2rem;
}
.py-4 {
  padding-top: 1rem; /* 16px */
  padding-bottom: 1rem; /* 16px */
}
.logo {
  // font-family: 'Knewave', cursive;
  letter-spacing: 3px;
  color: white;
}

.signin-layout {
  background-color: $primary-color;
}


.app-topbar {
  background-color: $primary-color;
  color: white;
  padding: 0 80px;
}

.app-topbar .my-top {
  padding: 0 60px;
}

.app-topbar .v-icon.v-icon{
  color: white !important;
}

.jello-user {
  font-size: 8px;
  margin-bottom: 0px!important;
  text-align:right;
}

.jello-board-tile {
  margin: 20px 20px 0px 0px ;
  .v-card__subtitle {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .app-topbar .my-top {
    padding: 0 20px;
  }
}